$color-primary: #181818;

$color-secondary: #1ed760;
$color-secondary-dark: #1db954;

$color-red: #dd0d0d;
$color-red-light: #ed0d0d;
$color-red-dark: #b80f0f;

$color-grey: #a0a0a0;
$color-grey-light: #d4d1d1;
$color-grey-dark: #383838;

$color-grey-secondary: #282828;
$color-grey-secondary-light: #333333;

$color-white: #fff;
$color-black: #000;
