html, body {
  height: 100%;
  background-color: #121212;
  color: white;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

#root {
  height: 100%;
  margin-top: 1em;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
  cursor: pointer;
  color: #A0A0A0;
}
a:hover {
  color: #F2F2F2;
  text-decoration: none;
}

.btn {
  font-size: 0.8em;
  text-transform: uppercase;
  border-radius: 2em;
  height: 3em;
}

.btn-primary {
  background-color: #1DB954;
  border-color: #1DB954;
}
.btn-primary:hover {
  background-color: #1ED760;
  border-color: #1ED760;
  font-weight: bold;
}

img.coverImage {
  width: 100%;
}

.currentlyPlaying {
  text-align: center;
}

input {
  border-radius: 2em !important;
}

.progress {
  height: 4px;
}

.progress-bar {
  background-color: #1DB954;
}

.searchResults {
  margin-top: 0.5em;
}

.searchForm {
  position: sticky;
  top: 0;
  background-color: #121212;
  padding-top: 1em;
}

ol.queuedTracks {
  padding-left: 1em;
}