const secrets = {
    spotify: {
        secret: "REPLACE WITH THE ACTUAL SECRET"
    },
    youtube: {
        key: "REPLACE_WITH_YOUTUBE_CLIENT_KEY"
    },
    db: {
        password: "REPLACE_DB_PASSWORD"
    },
    cookie: {
        signKeys: [
            "REPLACE_WITH_MULTIPLE_SIGN_KEYS"
        ]
    },
    certPath: "REPLACE_CERT_PATH"
};

export default secrets;