const secrets = {
    spotify: {
        secret: "REPLACE WITH THE ACTUAL SECRET"
    },
    youtube: {
        key: "REPLACE_WITH_YOUTUBE_CLIENT_KEY"
    },
    db: {
        password: "REPLACE_DB_PASSWORD"
    },
    cookie: {
        signKeys: [
            "SIGN_KEY1","SIGN_KEY2","SIGN_KEY3","SIGN_KEY4","SIGN_KEY5",
            "SIGN_KEY6","SIGN_KEY7","SIGN_KEY8","SIGN_KEY9","SIGN_KEY10"        
        ]
    },
    certPath: "REPLACE_CERT_PATH"
};

export default secrets;